<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :User_id %><br>
    <%= f.collection_select(:User_id, User.all, :id, :firstname, {:include_blank => 'Please Select User'}) %>
  </div>
  <div class="field">
    <%= f.label :ContactType_id %><br>
    <%= f.collection_select(:ContactType_id, ContactType.all, :id, :relation, {:include_blank => 'Please Select Type'}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
